@import "tailwindcss";

@theme {
  --font-display: "Inter", "sans-serif";
  --color-lwsGreen: #00d991;
  --color-deepDark: #17181c;
  --color-mediumDark: #1e1f24;
  --color-lighterDark: #27292f;
  --color-white:#FFFFFF

  /* Global Padding Variable */
  --spacing-page: 1rem;
}

@layer base {
  body {
    @apply bg-deepDark text-lighterDark;
    font-family: var(
      --font-display
    ); /* Required since Tailwind doesn't auto-create font-* classes from theme */
  }
  .page-container {
    padding: var(--spacing-page);
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .btn-primary {
    @apply flex-center gap-2 rounded-md bg-lighterDark px-5 py-2.5 text-sm font-medium text-white hover:bg-deepDark lg:text-lg;
  }
}
